<div class="row" ng-controller="MyStocksController">
  <label>My stocks</label>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
	<th>Quantity</th>
        <th>Price of Purchase</th>
	<th>Current Price</th>
	<th>Current Balance</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="stock in mystocklist">
        <td>{{stock.name}}</td>
	<td>{{stock.quantity}}</td>
        <td>{{stock.price_of_purchase}}</td>
	<td>{{stock.current_price}}</td>
	<td>{{stock.current_price * stock.quantity}}</td>
	<td><button class="btn btn-success" ng-click="setStock(stock)" data-toggle="modal" data-target="#buyStockModal">Buy</button></td>
	<td><button class="btn btn-danger" ng-click="setStock(stock)" data-toggle="modal" data-target="#sellStockModal">Sell</button></td>
      </tr>
    </tbody>
  </table>
 
  <h3>Available funds: {{cash}}</h3>
  <h3>Account value: {{value}}</h3>

  <div class="modal" id="buyStockModal" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Buy Stock</h4>
        </div>
        <div class="modal-body">
          <label>Quantity</label>
          <input id="buy_input" type="number" class="form-control" name="price" ng-model="stock.quantity" required>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-default" data-dismiss="modal"  ng-click="buyStock()">Buy</button>
        </div>
      </div>
    </div>
  </div>

    <div class="modal" id="sellStockModal" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Sell Stock</h4>
        </div>
        <div class="modal-body">
          <label>Quantity</label>
          <input id="sell_input" type="number" class="form-control" name="price" ng-model="stock.quantity" required>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-default" data-dismiss="modal"  ng-click="sellStock()">Sell</button>
        </div>
      </div>
    </div>
  </div>

</div>

