<div class="row" ng-controller="MyStocksController">
  <label>My stocks</label>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
	<th>Quantity</th>
        <th>Price of Purchase</th>
	<th>Current Price</th>
	<th>Current Balance</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="stock in mystocklist">
	<td><a href="stocks/{{stock.name}}">{{stock.name}}</a></td>
	<td>{{stock.quantity}}</td>
        <td>{{stock.price_of_purchase}}</td>
	<td>{{stock.current_price}}</td>
	<td>{{stock.current_price * stock.quantity}}</td>
	<td><button class="btn btn-success" ng-click="buyStock(stock)">Buy</button></td>
	<td><button class="btn btn-danger" ng-click="sellStock(stock)">Sell</button></td>
      </tr>
    </tbody>
  </table>
 
  <h3>Available funds: {{cash}}</h3>
  <h3>Account value: {{value}}</h3>

</div>

